#containe_baner .baner_slideshow {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: auto;
}

.mySlides {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    transition: opacity 2s ease;
    z-index: 11;
    margin: auto;
}

.mySlides img {
    width: 100%;
    height: 640px;
}

.active_img {
    visibility: visible;
    opacity: 1;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(73, 65, 65);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.baner_slideshow img {
    transition: all 0.5s ease-in-out;
}

.active,
.dot:hover {
    background-color: #C5A46D;
}

.mySlides_btn {
    position: absolute;
    bottom: 7%;
    left: 47%;
    z-index: 11;
}

@media only screen and (max-width: 1024px) {
    #containe_baner .baner_slideshow {
        position: relative;
        height: 480px;
    }
    .mySlides img {
        width: 100%;
        height: 480px;
    }
    .mySlides_btn {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #containe_baner .baner_slideshow {
        position: relative;
        height: 320px;
    }
    .mySlides img {
        width: 100%;
        height: 320px;
    }
}

@media only screen and (max-width: 600px) {
    #containe_baner .baner_slideshow {
        position: relative;
        height: 240px;
    }
    .mySlides img {
        width: 100%;
        height: 240px;
    }
}