#container {
    width: 100%;
    height: auto;
}

#container #main_content {
    width: 100%;
    height: auto;
}

#main_content .room_container {
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    --column-space: 20px;
    --row-space: 50px;
    --columns: 2;
    margin: 70px auto;
}

.room_container .room_box {
    width: calc((100%/var(--columns)) - calc(2 * var(--column-space)));
    height: auto;
    margin-left: var(--column-space);
    margin-right: var(--column-space);
    margin-bottom: var(--row-space);
    box-sizing: border-box;
    border-bottom: 2px solid #C5A46D;
    transition: all 0.3s ease;
    padding-bottom: 20px;
    position: relative;
}

.room_box .room_box-img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.room_box-img img {
    width: 100%;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.room_box-img .overlay_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1;
}

.room_box-img a {
    text-decoration: none;
    padding: 8px 15px;
    background: #C5A46D;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -200%, 0);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    text-align: center;
    white-space: nowrap;
    z-index: 11;
}

.room_box .room_box-details {
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.room_box-details {
    text-decoration: none;
    color: #C5A46D;
    letter-spacing: -1px;
    font-size: 25px;
}

.room_box-details .title {
    line-height: 30px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: black;
    padding: 20px 40px;
}

.room_box-details .price {
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -18px;
    font-size: 25px;
    font-weight: bold;
    color: #C5A46D;
    background: white;
    padding: 5px 10px;
    border: 1px solid #C5A46D;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 100;
    font-family: 'Lobster', cursive;
}

.room_box-img a:hover {
    background: #ac843e;
}

.room_container .room_box:hover .room_box-img .overlay_img {
    opacity: 1;
    visibility: visible;
}

.room_container .room_box:hover .room_box-img a {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-50%, -50%, 0);
}

.room_container .room_box:hover .room_box-img img {
    transform: scale(1.05);
}

.room_container .room_box:hover .room_box .room_box-img {
    background: rgba(0, 0, 0, 0.6);
}

.room_container .room_box:hover {
    background: rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 600px) {
    #main_content .room_container {
        --columns: 1;
    }
    .room_box-img a {
        display: none;
    }
    .room_box-img .overlay_img {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #main_content .room_container {
        width: 100%;
        --columns: 1;
        margin: 30px auto;
    }
    .room_box .room_box-details {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .room_box-details {
        letter-spacing: -1px;
        font-size: 22px;
    }
    .room_box-details .title {
        line-height: 25px;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
    }
}